<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LeafEditor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2405</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2714</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
